apple-pay-button {
  --apple-pay-button-width: 240px;
  --apple-pay-button-height: 40px;
  --apple-pay-button-border-radius: 30px;
  --apple-pay-button-padding: 0px 0px;
  --apple-pay-button-box-sizing: border-box;
}